- content_for :head do
  = stylesheet_link_tag "markdown"
  = javascript_include_tag "markdown"

#wmd-help.modal.hide.fade
  .modal-header
    %a.close{:href => "#"} &times;
    %h3 Markdown editing
  .modal-body
    See
    %b
      %a{:href => "http://en.wikipedia.org/wiki/Markdown", :target => "_blank"}
        http://en.wikipedia.org/wiki/Markdown
    for detailed help.

= coffee_script_tag do
  $ ->
    $('#wmd-help').modal({ keyboard: true })
    help ->
      $('#wmd-help').modal('show')

    converter = Markdown.getSanitizingConverter()

    $('.wmd-input').each ->
      suffix = $(this).attr("id").replace(/wmd\-input/, "")
      editor = new Markdown.Editor(converter, suffix, { handler: help })
      editor.run()