- is_root ||= false
- @active_pages ||= []
- u_cl = (is_root) ? "nav" : "dropdown-menu"

- unless childs.blank?
  %ul{:class => u_cl}
    - childs.each do |p|
      - cl = @active_pages.include?(p) ? "active" : ""
      - if p.try(:sub_childs).count > 0
        %li{:"data-dropdown" => "dropdown", :class => cl}
          %a.dropdown-toggle{:href=>"#"}= p.name
          = render :partial => "shared/toolbar_pages_childs", :locals => {:childs => p.try(:sub_childs) }
      - else
        %li{:class => cl}
          = link_to p.name, "/#{p.full_path}"