.topbar-wrapper
  .topbar
    .topbar-inner
      .container
        #logo
          = link_to AppConfig[:site_fullname], root_url({:locale => @locale})
          
        %ul.nav
          %li= link_to t("check_words"), chk_path
          
          
          
        =# render :partial => "shared/toolbar_pages"
        = render :partial => "shared/toolbar_user"