$green_lt: #e6f8dd;
$green_mid: #99cc99;
$green_dk: #003300;
$green: #006600;

#footer
{
  border-top: 1px solid $green_mid;
  padding: 0.5em 0;
  p { font-size: 11px; }
}

.navbar
{
  .brand
  {
    margin-top: -17px;
    margin-left: -45px;
  }
}

h1, h2 { margin-bottom: 0.5em }

.form-actions
{
  border-top: 1px solid $green_mid;
  background: none;
}

.msg
{
  span
  {
    font-size: 24px;
    font-weight: bold;
  }
}