$green_lt: #e6f8dd;
$green_mid: #99cc99;
$green_dk: #003300;
$green: #006600;

body
{
  margin-top: 1em;
}

td, th
{
  &.c { text-align: center }
}


#content {
  min-height: 400px;
}

#footer {
  text-align: center;
  border-top: 1px solid $green_mid;
  padding: 0.5em 0;
  font-size: 1em;
  color: #666;
}

.navbar
{
  .brand
  {
    padding-left: 30px;
  }
}

.navbar-inner
{
  padding: 0;
}

table
{
  &.scrabble-find
  {
    input[type="text"]
    {
      width: 90%;
      text-align: center;
      font-size: 1.5em;
    }
  }
}

h1, h2
{
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.form-actions
{
  border-top: 1px solid $green_mid;
  background: none;
}

.msg
{
  span
  {
    font-size: 24px;
    font-weight: bold;
  }
}

a.scrabble-results
{
  cursor: pointer;
}
