@import "my_constants";


body
{
  background: $green_lt;
}

.topbar-inner
{
  background-image: -moz-linear-gradient(center bottom , $green_dk, $green);
}

#content
{
  margin-top: 60px;
  height: auto !important;
  min-height: 500px;
}

#footer
{
  border-top: 1px solid $green_mid;
  padding: 0.5em 0;
  p { font-size: 11px; }
}

#logo
{
  a
  {
    background: url("/assets/scrabble-logo-shaded.png") no-repeat 0 0;
    float: left;
    width: 235px;
    height: 51px;
    margin: 0 10px 0 0;
    outline: none;
    text-indent: -9999px;
  }
}

.topbar
{
  div > ul.secondary-nav, .nav.secondary-nav
  {
    margin-top: 11px;
  }

  div > ul.nav
  {
    margin-top: 11px;
  }
}

.actions
{
  border: none;
  background-image: -moz-linear-gradient(center top , $green_mid, $green_lt);
}

.msg
{
  span
  {
    font-size: 24px;
    font-weight: bold;
  }
}