%p
  Sveicināti #{@resource.email}!
%p
  Ir bijis pieprasījums nomainīt jūsu konta paroli - lai to paveiktu, lietojiet šo saiti:
  = link_to 'Mainīt paroli', edit_password_url(@resource, reset_password_token: @token)
%p Ja neesat pieprasījis veikt šo darbību – vienkārši ignorējiet šo.

%p= "Jūsu: #{AppConfig.host_nice}" rescue ""